.back{
    background-color: rgb(50, 50, 96);
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hello{
    color: whitesmoke;
}
